<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <parameter name="browser" value="firefox"></parameter>
    <parameter name="url" value="https://www.orangehrm.com/"></parameter>

    <test name="parametertest">
        <classes>
            <class name="ParametersInTestNG"/>
        </classes>
    </test>
</suite>